<div>
    <Header />
    <div id="content"></div>
    <Footer />
</div>

<style>
@import './assets/theme';

* {
    font-family: 'Lato';
}

.title.is-1 {
    text-transform: uppercase;
    font-size: 2.5rem;
}

a.button, button.button {
    $borderBottomNormal: 6px;
    $borderBottomHover: 4px;

    transition: all 0.05s;
    font-size: 1.5rem;

    &:not(.is-static) {
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(10, 10, 10, 1);
    }

    &.is-static {
        background-color: transparent;
        border: 0;
    }

    &.is-primary {
        background-color: $primary;
        border: 1px solid $primary;
        border-color: darken($primary, 5%);
        border-bottom-color: darken($primary, 10%);
        border-bottom-width: $borderBottomNormal;

        &:hover {
            background-color: darken($primary, 2.5%);
            border-top-width: 2px;
            border-bottom-width: $borderBottomHover;
        }
    }

    &.is-secondary {
        color: white;
        background-color: $secondary;
        border: 1px solid $secondary;
        border-color: darken($secondary, 5%);
        border-bottom-color: darken($secondary, 10%);
        border-bottom-width: $borderBottomNormal;

        &:hover {
            background-color: darken($secondary, 2.5%);
            border-top-width: 2px;
            border-bottom-width: $borderBottomHover;
        }
    }
}
</style>

<script>
import createRouter from '../js/helpers/createRouter'
import history from '../js/helpers/history'
import web3js from '../js/helpers/web3js'

import contract from 'truffle-contract'
import Loan from '../../build/contracts/Loan.json'

import Header from './Header.html'
import Footer from './Footer.html'

import Home from './Home.html'
import NotFound from './NotFound.html'
import Metamask from './Metamask.html'
import Profile from './Profile.html'
import CreateRequest from './CreateRequest.html'
import ViewRequest from './ViewRequest.html'
import ViewRequests from './ViewRequests.html'
import ViewOffers from './ViewOffers.html'

const router = createRouter({
    '/': Home,
    '/metamask': Metamask,
    '/profile': Profile,
    '/request': CreateRequest,
    '/view': ViewRequests,
    '/view/:id': ViewRequest,
    '/offers': ViewOffers,
    'default': NotFound
})

export default {
    oncreate() {
        router.create('#content')
        this.checkMetaMask()
        this.getConversionRate()
        this.checkOffers()
    },
    ondestroy() {
        router.destroy()
    },
    methods: {
        redirectToErrorPage() {
            const { pathname } = history.location
            if (pathname !== '/metamask') {   
                createRouter.push('/metamask')
            }
        },
        redirectFromErrorPage() {
            const { pathname } = history.location
            if (pathname === '/metamask') {   
                createRouter.push('/')
            }
        },
        checkOffers() {
            setInterval(() => {
                if (typeof web3js === 'undefined') {
                    return this.redirectToErrorPage();
                }
                
                const LoanContract = contract(Loan)
                const address = this.store.get('address')

                LoanContract.setProvider(web3js.currentProvider)
                LoanContract.deployed().then(instance => {
                    return instance.getNewOffersCountForOwner(address).then(result => {
                        this.store.set({ offers: result })
                    })
                })
            }, 5000)
        },
        getConversionRate() {
            fetch('https://api.coinmarketcap.com/v1/ticker/ethereum/?convert=EUR')
            .then(response => response.json())
            .then(data => {
                this.store.set({ conversionRate: data[0]['price_eur'] })
            })
        },
        checkMetaMask() {
            setInterval(() => {
                if (typeof web3js === 'undefined') {
                    return this.redirectToErrorPage();
                }

                web3js.eth.getAccounts((error, result) => {
                    if (error) {
                        console.error(error)
                    }

                    let defaultAccount = result[0]

                    if (defaultAccount === undefined) {
                        this.store.set({ 
                            metamask: false,
                            address: undefined 
                        })

                        this.redirectToErrorPage()
                    } else {
                        web3js.eth.defaultAccount = defaultAccount
                        this.store.set({ 
                            metamask: true,
                            address: defaultAccount,
                        })

                        web3js.eth.getBalance(defaultAccount, (error, balance) => {
                            let ethBalance = web3.fromWei(balance.toNumber(), 'ether')
                            this.store.set({ balance: ethBalance })
                        })

                        web3js.version.getNetwork((error, netId) => {
                            if (location.hostname === 'localhost') {
                                if (netId > 1000) {
                                    this.redirectFromErrorPage()
                                }
                                else {
                                    this.redirectToErrorPage()
                                }
                            } else {
                                if (netId == 3) {
                                    this.redirectFromErrorPage()
                                } else {
                                    this.redirectToErrorPage()
                                }
                            }
                        })
                    }
                })
            }, 100);
        }
    },
    components: {
        Header, Footer
    }
}
</script>