<main>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Request loan</h1>

            {{ #if justAdded }}

                <div class="notification is-success">
                    Your request has been successfully added.
                </div>

            {{ else }}

                <div class="message is-info">
                    <div class="message-body">
                        To create a new request, fill in the form below. 
                        Your request, along with additional information, will then be available for other users to fulfill.
                    </div>
                </div>

                <div class="message is-warning">
                    <div class="message-body">
                        <strong>Note:</strong> ETH is volatile, so your {{ #if ethAmount }}{{ ethAmount }}{{ /if }} ETH might be worth more or less in the future.
                    </div>
                </div>

                <form>
                    <div class="field">
                        <label class="label">Your Ethereum address</label>
                        <div class="control">
                            <input class="input is-static" type="text" value="{{ $address }}" readonly>
                        </div>
                    </div>
                    <div class="fields is-grouped">
                        <div class="field">
                            <label class="label">ETH amount</label>
                            <div class="control">
                                <input bind:value=ethAmount class="input" type="number" placeholder="0" min="0.001" step="0.001" max="1000">
                            </div>
                            <div class="help is-info">Between 0.001 and 1000 ETH</div>
                        </div>
                        <div class="field">
                            <label class="label">or EUR amount</label>
                            <div class="control">
                                <input bind:value=eurAmount class="input" type="number" placeholder="0" min="100" step="10" max="1000000">
                            </div>
                            <div class="help is-info">Between 100 and 1M EUR</div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Monthly rates</label>
                        <div class="control">
                            <div class="select">
                                <select bind:value=rates>
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <a on:click='submit(event)' class="button is-primary">Submit</a>
                        </div>
                    </div>

                </form>

            {{ /if }}
        </div>
    </section>
</main>

<style>
@import './assets/theme';

label {
    text-transform: uppercase;
    font-size: 0.8rem;
}

ul {
    list-style: disc;
    margin-left: 1rem;

    li {
        margin: 0.25rem 0;
    }
}

div.fields.is-grouped {
    margin-bottom: 1rem;
    background-color: $white;
    padding: 1rem;
}
</style>

<script>
import contract from 'truffle-contract'
import web3js from '../js/helpers/web3js'
import Loan from '../../build/contracts/Loan.json'
import Link from './vendor/Link.html'

export default {
    data() {
        return {
            ethAmount: 0,
            eurAmount: 0,
            rates: 12,
            justAdded: false
        }
    },
    oncreate() {
        const conversionRate = this.store.get('conversionRate')

        this.observe('ethAmount', ethAmount => {
            this.set({ eurAmount: parseFloat(ethAmount * conversionRate).toFixed(2) })
        })
        this.observe('eurAmount', eurAmount => {
            this.set({ ethAmount: eurAmount / conversionRate })
        })
    },
    methods: {
        submit(event) {
            event.preventDefault()

            const { ethAmount, rates } = this._state
            if (ethAmount && rates) {
                const weiAmount = web3js.toWei(ethAmount, 'ether')

                const LoanContract = contract(Loan)
                LoanContract.setProvider(web3js.currentProvider)
                LoanContract.deployed().then(instance => {
                    instance.addRequest(weiAmount, rates).then(() => {
                        this.set({ justAdded: true })
                    })
                })
            }
        }
    },
    components: {
        Link
    }
}
</script>