<footer class="footer">
    <div class="container">
        <p>This dapp is part of a master thesis:</p>
        <p class="has-text-weight-bold">Technical prototyping of a dezentralized loan platform in the Ethereum blockchain</p>
        <p>All EUR values represent current exchange rates</p>
        <p>&copy; Benjamin Kaspar 2017-2018</p>
    </div>
</footer>

<style>
@import './assets/theme';

footer.footer {
    font-size: 0.9rem;
}
</style>

<script>
    export default {}
</script>