<header>
    <nav class="navbar is-transparent">
        <div class="container">
            <div class="navbar-brand">
                <Link to="/" class="navbar-item">{{ $name }}</Link>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <Link to="/" class="navbar-item">Home</Link>
                    <Link to="/request" class="navbar-item">Request loan</Link>
                    <Link to="/view" class="navbar-item">View requests</Link>
                    <Link to="/offers" class="navbar-item">My offers {{#if $offers > 0}}<span class="tag">{{ $offers }}</span>{{/if}}</Link>
                    <Link to="/profile" class="navbar-item">
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                    </Link>
                </div>
            </div>
        </div>
    </nav>
</header>

<style>
@import './assets/theme';

nav.navbar {
    background-color: $primary;
}

.navbar-brand .navbar-item {
    font-weight: bold;
    color: $white;
    font-size: 2rem;
    text-transform: lowercase;

    &.is-active {
        background-color: transparent;
    }
}

.navbar-menu .navbar-item {
    color: $white;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    padding: 1rem 0;
    margin: 0 1rem;

    span.tag {
        margin-left: 0.5rem;
    }

    &.is-active {
        color: $lightred;
        border-bottom: 5px solid $lightred;
    }

    &:hover {
        color: $lightred;
    }
}
</style>

<script>
import Link from './vendor/Link.html'

export default {
    components: {
        Link
    }
}
</script>