<main>
    <section class="section is-medium etherloan-intro">
        <div class="container">
            <h1 class="title is-1">Ethereum loan platform prototype</h1>
            <h2 class="subtitle is-1">Receive &amp; send out loans</h2>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h3 class="title is-3">How it works</h3>
            <ul>
                <li>You can request a specific amount of ETH. Someone else can give it to you if they want. They set interest.</li>
                <li>You can decide if you want to accept or refuse a fulfillment offer.</li>
                <!--<li>Once you accept an offer, you have to deposit 50% of the total interest as collateral.</li>-->
                <li>You will then receive your requested ETH amount.</li>
                <!--<li>Other people can sponsor you. The more trustworthy the other person, the more effect this has on you.</li>-->
                <!--<li>Sponsors get a share of the interest.</li>-->
                <!--<li>You can set up parameters to automatically send out loans.</li>-->
                <li>Transactions are handled automatically by Smart contracts, stored publicly in the Ethereum Blockchain*.</li>
            </ul>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h3 class="title is-3">First steps</h3>
            <Link to="request" class="button is-primary">Request loan</Link>
            <button class="button is-static">or</button>
            <Link to="view" class="button is-secondary">View requests</Link>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <small>* or in a Ethereum test network.</small>
        </div>
    </section>
</main>

<style>
@import './assets/theme';

.etherloan-intro {
    background-color: $white;
}

ul {
    list-style: disc;
    margin-left: 1rem;

    li {
        margin: 0.25rem 0;
    }
}
</style>

<script>
import Link from './vendor/Link.html'

export default {
    components: {
        Link
    }
}
</script>