<main>
    <section class="section">
        <div class="container">
            <div class="notification is-danger">
                <h1 class="title is-2">
                    Sorry, but you need <a href="https://metamask.io/" target="_blank">MetaMask</a>.
                </h1>
                <h2 class="subtitle is-3">It's either not installed, locked or not set to the Ropsten network.</h2>
            </div>
        </div>
    </section>
</main>

<script>
export default {}
</script>