<main>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Sorry, page not found</h1>
        </div>
    </section>
</main>

<script>
export default {

}
</script>