<main>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Your Profile</h1>

            <table class="table is-striped">
                <tbody>
                    <tr>
                        <th>Ethereum address</th>
                        <td>{{ $address }}</td>
                    </tr>
                    <tr>
                        <th>ETH balance</th>
                        <td>{{ $balance }}</td>
                    </tr>
                    <tr>
                        <th>Loans requested</th>
                        <td>{{ loansRequested }}</td>
                    </tr>
                    <tr>
                        <th>&raquo; of those fulfilled</th>
                        <td>{{ loansReceived }}</td>
                    </tr>
                    <tr>
                        <th>Offers sent</th>
                        <td>{{ offersSent }}</td>
                    </tr>
                    <tr>
                        <th>&raquo; of those accepted</th>
                        <td>{{ offersAcceptedByOthers }}</td>
                    </tr>
                    <tr>
                        <th>&raquo; of those declined</th>
                        <td>{{ offersDeclinedByOthers }}</td>
                    </tr>
                    <!--
                    <tr>
                        <th>Loans paid back</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>Sponsors</th>
                        <td>0</td>
                    </tr>
                    -->
                    <tr>
                        <th>Credit score</th>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

<script>
import web3js from '../js/helpers/web3js'
import contract from 'truffle-contract'
import Loan from '../../build/contracts/Loan.json'

export default {
    data() {
        return {
            loansRequested: 0,
            loansReceived: 0,
            offersSent: 0,
            offersAcceptedByOthers: 0,
            offersDeclinedByOthers: 0
        }
    },
    oncreate() {
        const LoanContract = contract(Loan)
        const address = this.store.get('address')

        LoanContract.setProvider(web3js.currentProvider)
        LoanContract.deployed().then(instance => {
            instance.getRequestsByOwner(address).then(result => {
                for (let request of result) {
                    instance.getRequest(request.toNumber()).then(result => {
                        if (result[5]) {
                            this.set({ loansReceived: this.get('loansReceived') + 1 })
                        }
                    })
                }
                this.set({ loansRequested: result.length })
            })
            instance.getOffersByOwner(address).then(result => {
                for (let offer of result) {
                    instance.getOffer(offer.toNumber()).then(result => {
                        if (result[4]) {
                            this.set({ offersAcceptedByOthers: this.get('offersAcceptedByOthers') + 1 })
                        }
                        if (result[5]) {
                            this.set({ offersDeclinedByOthers: this.get('offersDeclinedByOthers') + 1 })
                        }
                    })
                }
                this.set({ offersSent: result.length })
            })
        })
    }
}
</script>