<main>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Available requests</h1>

            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Months</th>
                        <th>Credit score</th>
                    </tr>
                </thead>
                <tbody>
                    {{ #each requests as request }}
                        <tr on:click='viewRequest(request)'>
                            <td>{{ request[0] }}</td>
                            <td>
                                <div>{{ request[1] }} ETH</div>
                                <div class="has-text-info is-size-7">{{ request.eurAmount }} EUR</div>
                            </td>
                            <td>{{ moment.unix(request[2]).format("DD.MM.YYYY") }}</td>
                            <td>{{ request[3] }}</td>
                            <td>{{ request[4] }}</td>
                        </tr>
                    {{ else }}
                        <tr>
                            <td colspan="5">No requests available yet.</td>
                        </tr>
                    {{ /each }}
                </tbody>
            </table>
        </div>
    </section>
</main>

<style>
@import './assets/theme';

tr {
    cursor: pointer;
}
</style>

<script>
import moment from 'moment'
import contract from 'truffle-contract'
import createRouter from '../js/helpers/createRouter'
import web3js from '../js/helpers/web3js'
import Loan from '../../build/contracts/Loan.json'

export default {
    data() {
        return {
            requests: []
        }
    },
    oncreate() {
        const LoanContract = contract(Loan)
        LoanContract.setProvider(web3js.currentProvider)

        let _instance
        LoanContract.deployed().then(instance => {
            _instance = instance
            return _instance.getRequestCount()
        }).then(result => {
            const requestCount = result.toNumber()
            const getRequestData = async () => {
                let requests = []
                for (let i = 0; i < requestCount; i++) {
                    const data = await _instance.getRequest(i)
                    const isFulfilled = data[5]
                    if (isFulfilled) {
                        continue
                    }
                    data['id'] = i
                    data[1] = web3js.fromWei(data[1], 'ether')
                    requests.push(data)
                }
                requests.sort((a, b) => {
                    if (a['id'] > b['id']) return -1
                    if (a['id'] < b['id']) return 1
                    return 0;
                })
                return requests
            }

            getRequestData().then(requests => {
                const conversionRate = this.store.get('conversionRate')
                for (let request of requests) {
                    request['eurAmount'] = parseFloat(request[1] * conversionRate).toFixed(2)
                }
                this.set({ requests })
            })
        })
    },
    methods: {
        viewRequest: request => {
            createRouter.push(`view/${request.id}`)
        }
    },
    helpers: {
        moment
    }
}
</script>