<main>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">My offers</h1>

            <h2 class="title is-2">Sent offers</h2>

            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th style="width: 35%">To Address</th>
                        <th style="width: 20%">Requested ETH</th>
                        <th style="width: 5%">Interest</th>
                        <th style="width: 10%">Date</th>
                        <th style="width: 30%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{ #each sent as offer }}
                        <tr>
                            <td>{{ offer.to }}</td>
                            <td>{{ offer.eth }} ETH</td>
                            <td>{{ offer.interest }}%</td>
                            <td>{{ moment.unix(offer[2]).format("DD.MM.YYYY") }}</td>
                            <td>
                                {{ #if offer.accepted }}
                                    <span class="has-text-success">Accepted</span>
                                {{ elseif offer.declined }}
                                    <span class="has-text-danger">Declined</span>
                                {{ else }}
                                    <button on:click='rescind(offer.id)' class="button is-primary">Rescind</button>
                                {{ /if }}
                            </td>
                        </tr>
                    {{ else }}
                        <tr>
                            <td colspan="5">No offers sent yet.</td>
                        </tr>
                    {{ /each }}
                </tbody>
            </table>

            <h2 class="title is-2">Received offers</h2>

            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th style="width: 35%">From Address</th>
                        <th style="width: 20%">Requested ETH</th>
                        <th style="width: 5%">Interest</th>
                        <th style="width: 10%">Date</th>
                        <th style="width: 30%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{ #each received as offer }}
                        <tr>
                            <td>{{ offer.from }}</td>
                            <td>{{ offer.eth }} ETH</td>
                            <td>{{ offer.interest }}%</td>
                            <td>{{ moment.unix(offer[2]).format("DD.MM.YYYY") }}</td>
                            <td>
                                {{ #if offer.accepted }}
                                    <span class="has-text-success">Accepted</span>
                                {{ elseif offer.declined }}
                                    <span class="has-text-danger">Declined</span>
                                {{ else }}
                                    <button on:click='accept(offer.id)' class="button is-primary">Accept</button>
                                    <button on:click='decline(offer.id)' class="button is-secondary">Decline</button>
                                {{ /if }}
                            </td>
                        </tr>
                    {{ else }}
                        <tr>
                            <td colspan="5">No offers received yet.</td>
                        </tr>
                    {{ /each }}
                </tbody>
            </table>
        </div>
    </section>

    <div class="modal {{ justAccepted || justDeclined || justRescinded ? 'is-active' : '' }}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <h1 class="title is-3">
                    {{ #if justAccepted }}
                        The offer has been accepted.
                        The funds will be transfered to your address.
                    {{ elseif justDeclined }}
                        The offer has been declined.
                    {{ elseif justRescinded }}
                        Your offer has been rescinded. 
                        The funds will be transfered to your address.
                    {{ /if }}
                </h1>
                <button on:click='closeModal()' class="button is-primary">Okay</button>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</main>

<script>
import moment from 'moment'
import contract from 'truffle-contract'
import createRouter from '../js/helpers/createRouter'
import web3js from '../js/helpers/web3js'
import Loan from '../../build/contracts/Loan.json'

export default {
    data() {
        return {
            sent: [],
            received: [],
            justAccepted: false,
            justDeclined: false,
            justRescinded: false
        }
    },
    oncreate() {
        const LoanContract = contract(Loan)
        LoanContract.setProvider(web3js.currentProvider)

        LoanContract.deployed().then(instance => {
            this.loadData(instance)
        })
    },
    methods: {
        loadData(instance) {
            this.getSentOffers(instance)
            this.getReceivedOffers(instance)
        },
        accept(offerId) {
            const LoanContract = contract(Loan)
            LoanContract.setProvider(web3js.currentProvider)
            LoanContract.deployed().then(instance => {
                instance.acceptOffer(offerId).then(() => {
                    this.set({ justAccepted: true })
                    this.loadData(instance)
                })
            })
        },
        decline(offerId) {
            const LoanContract = contract(Loan)
            LoanContract.setProvider(web3js.currentProvider)
            LoanContract.deployed().then(instance => {
                instance.declineOffer(offerId).then(() => {
                    this.set({ justDeclined: true })
                    this.loadData(instance)
                })
            })
        },
        rescind(offerId) {
            const LoanContract = contract(Loan)
            LoanContract.setProvider(web3js.currentProvider)
            LoanContract.deployed().then(instance => {
                instance.rescindOffer(offerId).then(() => {
                    this.set({ justRescinded: true })
                    this.loadData(instance)
                })
            })
        },
        closeModal() {
            this.set({
                justAccepted: false,
                justDeclined: false,
                justRescinded: false
            })
        },
        getSentOffers(instance) {
            const address = this.store.get('address')

            let offerIds
            instance.getOffersByOwner(address).then(result => {
                offerIds = result.map(e => e.toNumber())
                const getOfferData = async () => {
                    let offers = []
                    for (let id of offerIds) {
                        const data = await instance.getOffer(id)
                        const requestData = await instance.getRequest(data[3])
                        data['id'] = id
                        data['to'] = requestData[0]
                        data['eth'] = web3js.fromWei(requestData[1], 'ether')
                        data['interest'] = data[1] / 100.0
                        data['accepted'] = data[4]
                        data['declined'] = data[5]
                        offers.push(data)
                    }
                    return offers
                }

                getOfferData().then(offers => {
                    this.set({ sent: offers })
                })
            })
        },
        getReceivedOffers(instance) {
            const address = this.store.get('address')

            let offerIds
            instance.getOffersForOwner(address).then(result => {
                offerIds = result.map(e => e.toNumber())
                const getOfferData = async () => {
                    let offers = []
                    for (let id of offerIds) {
                        const data = await instance.getOffer(id)
                        const requestData = await instance.getRequest(data[3])
                        data['id'] = id
                        data['from'] = data[0]
                        data['eth'] = web3js.fromWei(requestData[1], 'ether')
                        data['interest'] = data[1] / 100.0
                        data['accepted'] = data[4]
                        data['declined'] = data[5]
                        offers.push(data)
                    }
                    return offers
                }

                getOfferData().then(offers => {
                    this.set({ received: offers })
                })
            })
        }
    },
    helpers: {
        moment
    }
}
</script>