<main>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Request details</h1>

            {{ #if justAdded }}

                <div class="notification is-success">
                    Your offer has been successfully sent.
                </div>

            {{ else }}

                <table class="table is-striped is-fullwidth">
                    <tbody>
                        <tr>
                            <th>Address</th>
                            <td>{{ data[0] }}</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td>{{ data[1] }} ETH <span class="has-text-info">({{ data.eurAmount }} EUR)</span></td>
                        </tr>
                        <tr>
                            <th>Date requested</th>
                            <td>{{ moment.unix(data[2]).format("DD.MM.YYYY h:m a") }}</td>
                        </tr>
                        <tr>
                            <th>Monthly rates</th>
                            <td>{{ data[3] }}</td>
                        </tr>
                        <tr>
                            <th>Credit score</th>
                            <td>{{ data[4] }}</td>
                        </tr>
                    </tbody>
                </table>

                <h2 class="title is-2">Interested in fulfilling?</h2>

                <div class="message is-info">
                    <div class="message-body">
                        If you are interested, you can fulfill their request. You can set can a monthly interest rate for the duration of the loan, which is {{ data[3] }} months. If the requestee likes your conditions, he can accept and the Smart contract will automatically deal with the transactions and send your interest monthly to your address.
                    </div>
                </div>

                <div class="field has-addons">
                    <div class="control has-icons-right">
                        <input type="number" bind:value="interest" class="input" placeholder="2.5" step="0.1" min="0.1" max="100">
                        <span class="icon is-right">
                            <i class="fas fa-percent"></i>
                        </span>
                    </div>
                </div>

                {{ #if ethTotal }}
                    <strong>This means:</strong>
                    <ul>
                        <li>{{ ethPerMonth }} ETH <span class="has-text-info">({{ eurPerMonth }} EUR)</span> per month</li>
                        <li>{{ ethTotal }} ETH <span class="has-text-info">({{ eurTotal }} EUR)</span> total</li>
                    </ul>
                {{ /if }}

                <a on:click='fulfill()' class="button is-primary">Send offer</a>
                <a on:click='cancel()' class="button is-secondary">No, thanks</a>

            {{ /if }}
        </div>
    </section>
</main>

<style>
ul {
    margin: 0 0 2rem 2rem;
    list-style: disc;
}
</style>

<script>
import moment from 'moment'
import contract from 'truffle-contract'
import createRouter from '../js/helpers/createRouter'
import web3js from '../js/helpers/web3js'
import Loan from '../../build/contracts/Loan.json'

export default {
    data() {
        return {
            data: [],
            interest: undefined,
            ethPerMonth: 0,
            ethTotal: 0,
            eurPerMonth: 0,
            eurTotal: 0,
            justAdded: false
        }
    },
    oncreate() {
        const LoanContract = contract(Loan)
        LoanContract.setProvider(web3js.currentProvider)

        const id = this.get('path').id
        const conversionRate = this.store.get('conversionRate')

        LoanContract.deployed().then(instance => {
            return instance.getRequest(id)
        }).then(data => {
            data[1] = web3js.fromWei(data[1], 'ether')
            data['eurAmount'] = parseFloat(data[1] * conversionRate).toFixed(2)

            this.set({ data })
        })

        this.observe('interest', interest => {
            const data = this.get('data')

            const ethPerMonth = (data[1] * interest) / 100.0
            const ethTotal = ethPerMonth * data[3]

            const eurPerMonth = parseFloat(ethPerMonth * conversionRate).toFixed(2)
            const eurTotal = parseFloat(ethTotal * conversionRate).toFixed(2)

            this.set({ ethPerMonth, ethTotal, eurPerMonth, eurTotal })
        })
    },
    methods: {
        fulfill() {
            const interest = this.get('interest') * 100
            const requestId = this.get('path').id
            const ethAmount = this.get('data')[1]

            const LoanContract = contract(Loan)
            LoanContract.setProvider(web3js.currentProvider)
            LoanContract.deployed().then(instance => {
                instance.addOffer(requestId, interest, {
                    gas: 200000,
                    value: web3js.toWei(ethAmount, 'ether')
                }).then(() => {
                    this.set({ justAdded: true })
                })
            })
        },
        cancel() {
            createRouter.push(`/view`)
        }
    },
    helpers: {
        moment
    }
}
</script>